<section class="bg-white rounded-lg min-h-[10rem] h-full w-full flex gap-6 flex-col p-6 border-[rgba(9, 30, 66, .12)] border">
  <header class="flex items-center gap-4">
    <div
      class="rounded-[50%] bg-slate-700 text-white flex justify-center items-center h-10 w-10 uppercase text-lg"
    >
      {{reviewerInitials}}
    </div>
    <P class="text-sub-text text-lg">{{reviewerName}}</P>
  </header>
  <!-- <div>
     <ng-icon class="text-red-500" size="1.5rem"  name="featherStar"></ng-icon>
</div> -->
  <main class="text-sub-text leading-[1.8rem]">
   {{content}}
  </main>
  <p class="text-sub-text text-sm">{{date}}.</p>
</section>
