.swiper-pagination {
    bottom: 100px !important; /* Adjusts the pagination's distance from the bottom */
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid red; /* Centers the pagination bullets horizontally */
  }
  
 