<section
  class="bg-[#C6EBEB] h-full w-full min-h-[15rem] px-4 lg:px-16  flex items-center justify-between lg:flex-row flex-col"
>
  <div class="py-8 lg:py-16">
    <p class="text-header font-[500] text-4xl">
      Don't just take our word for it
    </p>

    <p class="text-sub-text font-medium mt-4 w-full lg:max-w-[600px] text-lg">
      Want to have easy access to quick loans? Sign up now for free and check it
      out, we’ll be with you every step of the way
    </p>

    <button
      class="p-3 bg-primary-color hover:bg-primary-color/90 text-white rounded-md mt-4 px-7"
    >
      Get Started
    </button>
  </div>

  <div>
    <img class="" src="/assets/images/getstarted.png" />
  </div>
</section>
