<app-auth-layout>
  <div class="p-6 lg:p-12">
    <app-logo></app-logo>

    <p class="text-header text-3xl font-medium mt-8">Let's get you started!</p>
    <p class="text-sub-text">Please provide your details</p>

    <form
      class="flex flex-col mt-4 space-y-4"
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col gap-1 mt-4">
        <label>First Name</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="text"
          formControlName="firstName"
          placeholder="first name"
        />
        @if ( registrationForm.controls["firstName"].invalid &&
        registrationForm.controls["firstName"].touched ) {
        <div class="text-red-500 text-sm mt-1">Enter your first name</div>
        }
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label>Last Name</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="text"
          formControlName="lastName"
          placeholder="last name"
        />
        @if ( registrationForm.controls["lastName"].invalid &&
        registrationForm.controls["lastName"].touched ) {
        <div class="text-red-500 text-sm mt-1">Enter surname</div>
        }
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label>Email Address</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="text"
          formControlName="email"
          placeholder="email address"
        />
        @if ( registrationForm.controls["email"].invalid &&
        registrationForm.controls["email"].touched ) {
        <div class="text-red-500 text-sm mt-1">Enter valid email address</div>
        }
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label>Phone Number</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="text"
          formControlName="phoneNumber"
          placeholder="e.g 08138109620"
        />
        @if ( registrationForm.controls["phoneNumber"].invalid &&
        registrationForm.controls["phoneNumber"].touched ) {
        <div class="text-red-500 text-sm mt-1">Enter valid phone number</div>
        }
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label>Password</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="text"
          formControlName="password"
          placeholder="password"
        />
        @if ( registrationForm.controls["password"].errors?.['required'] &&
        registrationForm.controls["password"].touched ) {
        <div class="text-red-500 text-sm mt-1">Password field is required</div>
        }

        <ul
          *ngIf="registrationForm.controls['password'].value &&
          registrationForm.controls['password'].errors?.['pattern']
        "
          class="list-none text-xs space-y-1 mt-2"
        >
          <app-password-requirement
            [passwordControl]="registrationForm.get('password')"
          />
        </ul>
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label>Confirm Password</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="text"
          formControlName="confirmPassword"
          placeholder="confirm password"
        />
        <div
          *ngIf="
            registrationForm.invalid &&
            (registrationForm.controls['confirmPassword'].touched ||
              registrationForm.controls['confirmPassword'].dirty)
          "
          class="text-xs mt-2"
        >
          <div
            *ngIf="registrationForm.hasError('mismatch')"
            class="text-red-500"
          >
            Passwords do not match
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-1 mt-4">
        <label>Bvn</label>
        <input
          class="border p-2.5 rounded-md w-full focus:outline-primary-color"
          type="number"
          formControlName="bvn"
          placeholder="10 digit bvn"
        />
        @if ( registrationForm.controls["bvn"].invalid &&
        registrationForm.controls["bvn"].touched ) {
        <div class="text-red-500 text-sm mt-1">Enter your bvn</div>
        }
      </div>

      <!-- <div class="flex flex-col gap-1 mt-4">
        <label>Nin</label>
        <input
          class="border p-2.5 rounded-md w-full"
          type="number"
          formControlName="nin"
          placeholder="nin id"
        />
        @if ( registrationForm.controls["nin"].invalid &&
        registrationForm.controls["nin"].touched ) {
        <div class="text-red-500 text-sm mt-1">Enter your Nin</div>
        }
      </div> -->
      <!-- [disabled]="registrationForm.invalid" -->
      <button
        [ngClass]="
          registrationForm.valid ? 'bg-primary-color' : 'bg-primary-color/70'
        "
        class="p-3 rounded-md text-white w-full mt-4"
      >
        Create Account
      </button>
    </form>
  </div>
</app-auth-layout>
