<section
  class="w-full grid grid-cols-1 lg:grid-cols-[40%_1fr] lg:gap-4 gap-16 mt-16 px-4 lg:px-16"
>
  <div class="flex flex-col gap-8 text leading-10 ">
    <p class="text-6xl text-header text-wrap w-auto">
      Unlock the power of finance
    </p>
    <p class="text-2xl text-sub-text">
      Digital banking built for you - loans, savings, payments & more
    </p>
    <div
      class="flex items-center gap-2 text-2xl cursor-pointer text-header font-semibold"
    >
      <p>Get Started</p>
      <ng-icon size="1.5rem"  name="featherArrowUpRight"></ng-icon>
    </div>
  </div>

  <div class="h-full overflow-hidden">
    <img src="https://ik.imagekit.io/oqlkhhaar/HeroIllustration.svg?updatedAt=1724691398163" class="w-full object-cover h-full" alt="HeroImage" />
  </div>
</section>
