<section
  class="min-h-20 py-2.5 px-4 md:px-12 flex items-center justify-between bg-white border border-b-sub-text/30"
>
  <div class="flex flex-col gap-1">
    <p class="text-header font-[600] text-xl">Hello Ayodeji</p>
    <p class="text-sub-text">What would you like to do today?</p>
  </div>

  <app-logo class="hidden md:block"></app-logo>

  <div class="flex items-center gap-4">
    <img
      class="h-7 w-7 object-cover cursor-pointer"
      alt="notification-bell"
      src="/assets/icons/notificationBell.svg"
    />
    <div
      class="cursor-pointer bg-header uppercase rounded-[50%] w-11 h-11 text-white flex items-center justify-center text-xl"
    >
      OT
    </div>
  </div>
</section>
