<app-personal-layout>
  <app-account-details></app-account-details>

  <div
    class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-4 maxWidth rounded-lg border"
  >
    <app-actions></app-actions>
    <section class="min-h-32 bg-white p-4 rounded-md">
      <header class="justify-between flex items-center text-header">
        <div class="flex gap-4 items-center">
          <img
            class="h-5 object-cover"
            src="assets/icons/history.svg"
            alt="history icon"
          />
          <div>
            <p class="font-[500]">Loan History</p>
            <p class="text-sub-text text-sm mt-1">View your loan history</p>
          </div>
        </div>

        <p class="text-sm cursor-pointer font-[500]">view all</p>
      </header>
      <div
        class="flex justify-center items-center flex-col text-header h-full mt-2"
      >
        <img class="" src="/assets/icons/noData.svg" alt="" />
        <p class="items-center">No recent Transactionss</p>
      </div>
    </section>
  </div>
</app-personal-layout>
