<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '35vw', '776px': '70vw', '575px': '90vw' }"
  [style]="{ width: '35vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <div class="p-4 border-lg">
    <img
      src="/assets/images/error.png"
      class="mx-auto mt-4"
      alt="error image"
    />
    <p class="text-red-600 text-2xl font-medium text-center">{{ title }}</p>
    <p class="text-sub-text text-center mt-2">
      {{ subtitle }}
    </p>
    <div class="flex justify-center">
      <button
        (click)="handleClose()"
        class="p-2.5 px-6 bg-header rounded-lg text-white mt-3"
      >
        close
      </button>
    </div>
  </div>
</p-dialog>
