<footer
  class="bg-[#161A1D] min-h-[15rem] w-full h-full grid grid-cols-1 md:grid-cols-4 gap-6 text-white py-8 lg:py-16 px-4 lg:px-16"
>
  <ul class="flex flex-col gap-4 text-[#BABBBC] [&>li:first-child]:text-white">
    <li>How to Use</li>
    <li>Channels</li>
    <li>Back Office</li>
    <li>Decision Models</li>
  </ul>
  <ul class="flex flex-col gap-4 text-[#BABBBC] [&>li:first-child]:text-white">
    <li>About LendsQr</li>
    <li>Careers</li>
    <li>For Developers</li>
    <li>Changelog</li>
  </ul>
  <ul class="flex flex-col gap-4 text-[#BABBBC] [&>li:first-child]:text-white">
    <li>About LendsQr</li>
    <li>Careers</li>
    <li>For Developers</li>
    <li>Changelog</li>
  </ul>
  <ul class="flex flex-col gap-4 text-[#BABBBC] [&>li:first-child]:text-white">
    <li>About LendsQr</li>
    <li>Careers</li>
    <li>For Developers</li>
    <li>Changelog</li>
  </ul>
</footer>
