<section
  class="w-full grid grid-cols-1 md:grid-cols-3 min-h-40 px-4 lg:px-16 gap-8 lg:gap-6  mt-8"
>
  <div class="flex items-center gap-4">
    <ng-icon
      size="1.5rem"
      class="text-primary-color shrink-0"
      name="featherCheckSquare"
    ></ng-icon>
    <p>
      <span class="font-[600]"> Licensed by the Central Bank of Nigeria.</span>
      <span class="text-sub-text"
        >Trusted and Regulated for Your Peace of Mind</span
      >
    </p>
  </div>

  <div class="flex items-center gap-4">
    <ng-icon
      size="1.5rem"
      class="text-primary-color shrink-0"
      name="featherCheckSquare"
    ></ng-icon>
    <p>
      <span class="font-[600]">NDIC Insured Savings and Deposit.</span>
      <span class="text-sub-text">
        Your Deposits Are Protected and Secure</span
      >
    </p>
  </div>

  <div class="flex items-center gap-4">
    <ng-icon
      size="1.5rem"
      class="text-primary-color shrink-0"
      name="featherCheckSquare"
    ></ng-icon>
    <p>
      <span class="font-[600]"> Convenient loans.</span
      ><span class="text-sub-text"
        >Fast and Easy Access to Funds When You Need Them</span
      >
    </p>
  </div>
</section>
